/* Color palette */

/* Background body: #F1F4FB
"a" and "button" tags: #072AC8
CTA background color: #FFC600
H tags: #292E47
Active A tag on nav: #0082F3
Inactive A tag on nav: #6C718B */

/* MOBILE VERSION */

/* Font  */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* outline: 1px red solid; */
}

body {
  background-color: #f2f4fc;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 20px;
  min-height: 100%;
  display: block;
  margin: 60px 30px;
}

/* Class to hide elements in mobile version */

.noshow {
  display: none !important;
}

/* Nueva navbar */

header {
  background-color: transparent;
}

li {
  list-style: none;
}

.nav-item a {
  color: #6b708d;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
}

.navbar {
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  max-width: 90vw;
}

.navbar-logo {
  width: 60px;
  height: 18px;
  background-image: url(./project-assets/logos/circle.svg);
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.nav-link:hover {
  color: #0082f3;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.primary-button {
  padding: 15px 30px;
  background-color: #072ac8;
  font-size: 17px;
  color: white !important;
  text-align: center;
}

.primary-button:hover {
  background-color: #292e47;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #464756;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: absolute;
    left: -100%;
    top: 0%;
    gap: 0;
    flex-direction: column;
    background-color: #c8c8c8;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav-item {
    margin: 16px 0;
  }

  .nav-menu.active {
    left: 0;
  }
}

/* Empower section */

#empower-section {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  width: 90vw;
}

.empower-section-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 90vw;
  flex-direction: column;
  align-items: center;
  align-self: center;
}

.empower-content {
  max-width: 90vw;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.empower-title {
  color: #292e47;
  font-size: 2rem;
  line-height: 130%;
  margin-right: 30px;
  margin-left: 30px;
}

h1 {
  margin-top: 20px;
  font-weight: bold;
  display: block;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.empower-text p {
  margin-bottom: 40px;
  margin-right: 50px;
  margin-left: 40px;
  color: #6b708d;
  line-height: 150%;
  font-size: 1.2rem;
}

.empower-buttons {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  align-items: center;
  padding-top: 20px;
}

.see-our-work-btn {
  color: #6b708d;
  font-size: 17px;
  font-weight: 500;
  text-decoration: none;
}

a {
  background-color: transparent;
}

a:hover {
  cursor: pointer;
}

.get-in-touch-btn {
  padding: 15px 30px;
  background-color: #072ac8;
  font-size: 17px;
  margin-right: 0px;
  margin-bottom: 20px;
  text-align: center;
}

.get-in-touch-btn:hover {
  background-color: #292e47;
}

.w-button {
  color: white;
  border: 0;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
  border-radius: 0;
}

/* Images within #empower-section */

.empower-images {
  position: relative;
}

.empower-image-main {
  width: 90vw;
  padding: 20px;
}

.empower-image-card {
  max-width: 479px;
  position: absolute;
  left: -19%;
  top: 0%;
  right: auto;
  bottom: auto;
}

img {
  vertical-align: middle;
  border: 0;
}

.empower-image-emoji {
  position: absolute;
  left: auto;
  top: auto;
  right: -25%;
  bottom: -22%;
  max-width: 375px;
}

/* Logos section */

#logos-section {
  width: 90vw;
  margin-top: 0px;
  padding: 0px 30px;
}

.container .logos {
  width: 90vw;
  margin-top: 40px;
}

.grid-logos {
  width: 90vw;
  max-width: 90vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.client-logo {
  width: 120px;
  display: flex;
  height: 96px;
  max-height: 96px;
  max-width: 150px;
  margin-right: 10px;
  justify-content: center;
  align-items: center;
}

/* Projects section */

#projects-section {
  width: 90vw;
  margin-top: 40px;
}

.projects-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90vw;
}

h2 {
  line-height: 36px;
  margin-top: 20px;
}

.projects-heading {
  font-size: 30px;
  text-align: center;
  color: #292e47;
}

.projects-list-wrapper {
  margin-top: 20px;
}

.projects-list-row {
  display: grid;
  justify-items: stretch;
  grid-auto-flow: row;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  grid-auto-columns: 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 16px;
  max-width: 100%;
}

.collection-item {
  max-width: 100%;
  background-color: white;
}

.project-card {
  width: 100%;
  max-width: 100%;
  display: flex;
  height: auto;
  max-height: 800px;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1;
}

.project-card-image {
  width: 100%;
  height: 240px;
  object-fit: cover;
}

.project-content {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}

.project-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-title {
  margin: 30px 30px 20px;
  color: #292e47;
  font-size: 24px;
  line-height: 115%;
  font-weight: 500;
}

.project-title.project-description {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 17px;
  font-weight: 400;
}

.project-link {
  margin: 30px;
  color: #072ac8;
  font-size: 17px;
  font-weight: 500;
  text-decoration: none;
}

/* Testimonial section */

#testimonial-section {
  height: auto;
  margin-top: 60px;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  background-color: #292e47;
  background-image: url(./project-assets/testimonial-section/orbit.png);
  color: #292e47;
  width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.container {
  max-width: 90vw;
  margin-right: auto;
  margin-left: auto;
}

.container-testimonial {
  width: 90vw;
  max-width: 50vw;
  color: #292e47;
}

.testimonial-heading {
  font-size: 30px;
  width: 90vw;
  margin-right: 0%;
  margin-left: 0%;
  max-width: 50vw;
  margin-bottom: 0px;
  line-height: 150%;
  color: #ecf7ff;
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
}

.testimonial-text {
  max-width: 90vw;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  color: #ffc600;
  font-size: 24px;
  line-height: 160%;
  font-weight: 500;
  text-align: center;
}

.client {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.client-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-image: url(./project-assets/testimonial-section/profile.png);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.client-info {
  display: flex;
  margin-left: 10px;
  flex-direction: column;
  justify-content: space-around;
}

.client-name {
  color: #a2d6f9;
  font-size: 17px;
}

.client-position {
  color: #ecf7ff;
  font-size: 13px;
}

.emoji-top-left {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
  margin-top: 5%;
  margin-left: 10%;
  background-image: url(./project-assets/testimonial-section/memoji-1.png);
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.emoji-top-right {
  width: 100px;
  height: 100px;
  position: absolute;
  right: 0%;
  top: 0%;
  left: auto;
  bottom: auto;
  margin-top: 5%;
  margin-right: 10%;
  background-image: url(./project-assets/testimonial-section/memoji-2.png);
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.emoji-bottom-left {
  width: 100px;
  height: 100px;
  position: absolute;
  right: auto;
  top: auto;
  left: 0%;
  bottom: 0%;
  margin-bottom: 5%;
  margin-left: 10%;
  background-image: url(./project-assets/testimonial-section/memoji-3.png);
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.emoji-bottom-right {
  width: 100px;
  height: 100px;
  position: absolute;
  right: 0%;
  top: auto;
  left: auto;
  bottom: 0%;
  margin-bottom: 5%;
  margin-right: 10%;
  background-image: url(./project-assets/testimonial-section/memoji-4.png);
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

/* Services section */

#services-section {
  width: 90vw;
  margin-top: 40px;
}

.services-container {
  max-width: 90vw;
}

.services-heading {
  font-size: 30px;
  text-align: center;
  color: #292e47;
  line-height: 44px;
  margin-top: 20px;
}

.services-list-wrapper {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  grid-auto-columns: 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 16px;
}

.service-card {
  max-width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  margin-bottom: 15px;
}

.service-image {
  width: 80px;
  height: 80px;
  margin-top: 40px;
  margin-left: 40px;
  padding-bottom: 0px;
  padding-left: 0px;
  border-radius: 50%;
  background-color: #ecf7ff;
  background-image: url(./project-assets/services-section/icons/1.svg);
  background-position: 50% 50%;
  background-size: auto;
  background-repeat: no-repeat;
}

.service-image-2 {
  width: 80px;
  height: 80px;
  margin-top: 40px;
  margin-left: 40px;
  padding-bottom: 0px;
  padding-left: 0px;
  border-radius: 50%;
  background-color: #ecf7ff;
  background-image: url(./project-assets/services-section/icons/2.svg);
  background-position: 50% 50%;
  background-size: auto;
  background-repeat: no-repeat;
}

.service-image-3 {
  width: 80px;
  height: 80px;
  margin-top: 40px;
  margin-left: 40px;
  padding-bottom: 0px;
  padding-left: 0px;
  border-radius: 50%;
  background-color: #ecf7ff;
  background-image: url(./project-assets/services-section/icons/3.svg);
  background-position: 50% 50%;
  background-size: auto;
  background-repeat: no-repeat;
}

.service-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* CTA section */

#cta-section {
  width: 90vw;
  height: 500px;
  display: flex;
  padding: 0px 30px;
  flex-direction: row;
  margin-right: auto;
  margin-left: auto;
  background-color: #ffc600;
  margin-top: 25px;
}

.container .container-cta {
  max-width: 90vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cta-heading {
  font-size: 30px;
  margin-bottom: 20px;
  color: #292e47;
  line-height: 44px;
}

.cta-subtitle {
  font-size: 17px;
  color: #6b708d;
  display: flex;
  justify-content: center;
}

.form-block {
  max-width: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.w-form {
  margin: 0 0 15px;
}

.cta-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.cta-textfield-wrapper {
  position: relative;
}

.textfield-icon {
  position: absolute;
  left: 8%;
  top: 27%;
  right: auto;
  bottom: auto;
  width: 30px;
  height: 30px;
  background-image: url(./project-assets/newsletter/icon/mail.svg);
  background-position: 50% 50%;
  background-size: auto;
  background-repeat: no-repeat;
}

.text-field {
  width: 100%;
  height: 80px;
  margin-bottom: 0px;
  padding-left: 70px;
  background-color: #ecf7ff;
  color: #292e47;
}

.submit-button {
  display: block;
  font-size: 17px;
  height: 80px;
  padding: 15px 30px;
  background-color: #072ac8;
  font-size: 17px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-right: 71px;
  padding-left: 71px;
  text-align: center;
}

/* Footer */

footer {
  width: 90vw;
  margin-top: 60px;
  padding-bottom: 100px;
  padding-right: 30px;
  padding-left: 30px;
}

.container .footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 260px;
  max-width: 260px;
}

.footer-content-logo {
  width: 100px;
  height: 30px;
  margin-bottom: 30px;
  background-image: url(./project-assets/logos/circle.svg);
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.footer-content-address {
  text-align: center;
  font-size: 17px;
  line-height: 150%;
  color: #6b708d;
}

.footer-links {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

.footer-link {
  font-size: 17px;
  text-decoration: none;
}

/* TABLET VERSION */

@media (min-width: 768px) {
  .empower-title {
    font-size: 3.5rem;
  }

  .empower-text {
    margin: 0 30px;
  }
  .empower-buttons {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
  }

  .get-in-touch-btn {
    margin-top: 20px;
    margin-right: 30px;
  }

  .noshow {
    display: block !important;
  }

  .empower-image-card {
    max-width: 300px;
    position: absolute;
    left: -5%;
    top: 0%;
    right: auto;
    bottom: auto;
  }

  .empower-image-emoji {
    position: absolute;
    left: auto;
    top: auto;
    right: -10%;
    bottom: -15%;
    max-width: 300px;
  }
  .amazon {
    margin-top: 80px;
  }
  .projects-list-row {
    display: grid;
    grid-auto-flow: row;
    grid-auto-columns: 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 16px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    max-width: 100%;
  }

  #testimonial-section {
    height: 500px;
  }

  .services-list-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .service-card {
    max-width: 209px;
    height: 460px;
  }

  .cta-heading {
    font-size: 2.3rem;
    margin-top: 120px;
    text-align: center;
  }

  .cta-form {
    display: flex;
    flex-direction: row;
  }
  .cta-textfield-wrapper {
    margin-right: 18px;
  }
  .text-field {
    width: 40vw;
  }
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

/* BIGGER SCREEN */
@media (min-width: 992px) {
  .empower-section-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .empower-image-main {
    max-width: 560px;
  }
  .client-logo {
    margin-right: 100px;
  }
  #testimonial-section {
    max-width: 1200px;
    height: 700px;
  }

  .services-heading {
    font-size: 2.5rem;
    display: flex;
    justify-content: flex-start;
    margin-left: 75px;
    margin-top: 150px;
    margin-bottom: 75px;
  }

  .services-list-row {
    display: flex;
    flex-direction: row;
  }

  .service-card {
    max-width: 340px;
    height: 346px;
  }
}

/* Contact Us MOBILE */

.contact-form-container {
  margin-top: 0px;
  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;
}

.contact-form-title {
  margin-bottom: 40px;
  font-size: 40px;
  margin-top: 0px;
  line-height: 110%;
}

.contact-form {
  width: 100%;
  max-width: 766px;
  margin: 0 0 15px;
}

.contact-title {
  margin-bottom: 10px;
  color: #6b708d;
  font-size: 20px;
  font-weight: 400;
}

.contact-text-field.textarea {
  height: 200px;
}

.contact-text-field {
  width: 100%;
  height: 70px;
  padding-left: 20px;
  border: 1px none #000;
  background-color: rgba(107, 112, 141, 0.1);
  display: block;
  padding: 8px 12px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333333;
}

.contact-button {
  display: block;
  height: 80px;
  width: 100%;
  margin-top: 30px;
}

/* Contact Us TABLET */

@media (min-width: 768px) {
  .inline {
    display: inline-flex;
    width: 100%;
    max-width: 90vw;
  }

  .inline div {
    width: 50%;
  }
  .contact-text-wrapper {
    margin-right: 20px;
  }
}

/* Projects styling */

.project-page-image {
  width: 100%;
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
  height: 444px;
  object-fit: cover;
}
